<h1>Bienvenue au service clientèle de Your Car Your Way</h1>

<h4>Pour vous rendre sur le chat, veuillez cliquer sur le bouton ci-dessous</h4>

<div class="d-grid gap-2 col-2 mx-auto">
    <button (click)="supportClient(1)" type="button" class="btn btn-outline-primary btn-lg">
        Contacter le service client</button>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button (click)="supportClient(2)" type="button" class="btn btn-outline-info btn-md">
        Espace support</button>
</div>


